.create-container{
    background-color: #fff;
    text-align: left;
}/* Extra small devices (phones, 600px and down) */
.create-wrapper{
   display: block;
   margin-left: 30px;
   height: 600px;
  
}
.create-container{
   
   border:2px solid #43D5CB;
   width:300px;
   padding:60px 38px;
   border-radius:16px;
   box-shadow: 0 0 4px #43D5CB;
   
   
}
.create-h3{
   font-weight: 300;
   font-size: 20px;
   text-align: left;
   color: #43D5CB ;

}
.create-mid-container{
   width: 280px ;
}
.create-border{
   border-bottom: 1px solid gray;
   font-size: 12px;
   width:220px;
  
}
 label{
   font-weight: 300 ;
   font-size: 12px;
   
   
   line-height: 0;
}
.create-border input{
   border: "none";
   width: 120px;
   outline: none;
  
}
.create-btn-cont{
  margin:0;
   padding: 5px -4px;
   border: none;
   border-radius: 10px;
   width: 220px;
   text-align: center;

}
.create-btn-cont button{
   background-color: #43D5CB;
   padding: 5px;
   border: none;
   border-radius: 10px;
   width: 220px;
   text-align: center;
   color: #fff;

}
.create-btn-cont2{
   border: none;
   border-radius: 10px;
   background-color: lightgray;
   width: 220px;
   text-align: center;
}
.create-btn-cont2 button{
 border-radius: 10px;
 padding: 5px;
}
.create-bottom span{
   font-size: 12px
}