.create-container{
    background-color: #fff;
    text-align: left;
    height: 34rem;
    
}/* Extra small devices (phones, 600px and down) */
.create-wrapper{
   display: block;
   margin-left: 34rem;
   margin-top: 12px;
  
}
.create-container{
   
   border:2px solid #43D5CB;
   width:18.75rem;
   padding:3.75rem 2.5rem;
   border-radius:16px;
   box-shadow: 0 0 4px #43D5CB;
   
   
}
.create-h3{
   font-weight: 300;
   font-size: 20px;
   text-align: left;
   color: #43D5CB ;

}
.create-mid-container{
   width: 17.5rem ;
}
.create-border{
   border-bottom: 1px solid gray;
   font-size: 12px;
   width:13.75rem;
  
}
 label{
   font-weight: 300 ;
   font-size: 12px;
   
   
   line-height: 0;
}
.create-border input{
   border: "none";
   width: 8.5rem;
   outline: none;
  
}
.create-btn-cont{
  margin:0;
   padding: 5px -4px;
   border: none;
   border-radius: 10px;
   width: 13.75rem;
   text-align: center;

}
.create-btn-cont button{
   background-color: #43D5CB;
   padding: 5px;
   border: none;
   border-radius: 10px;
   width: 13.75rem;
   text-align: center;
   color: #fff;

}
.create-btn-cont2{
   border: none;
   border-radius: 10px;
   background-color: lightgray;
   width: 13.75rem;
   text-align: center;
}
.create-btn-cont2 button{
 border-radius: 10px;
 padding: 5px;
}
.create-bottom span{
   font-size: 12px
}